<% if (toc(page.content) !== ""){ %>
<aside class="catalog-container">
  <div class="toc-indicator">
    <label for="asideToggle" id="asideToggleLabel"><</label>
  </div>
  <div class="toc-main">
    <strong class="toc-title">目录</strong>
    <%- toc(page.content, { "class": "toc-nav", "list_number": true }) %>
  </div>
</aside>
<% } %>