#about-banner
  width: 100%
  position: relative
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  height: 350px
  &:after
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ''
    opacity: .25
    background: url(escheres-url)
    background-color: rgba(0, 0, 0, .05)
  @media m-mobile
    height: 250px
.author-content
  margin-top: -50px
  width: 100%
  background: color-background
  padding: 0 1em 30px 1em
  box-sizing: border-box
  .head
    width: 100px
    height: 100px
    position: relative
    margin: 0 auto
    opacity: 1
    transform: translateY(-55px)
    transition: all .6s
    img
      width: 100%
      height: 100%
      display: block
      border-radius: 50%
      cursor: pointer
      transition: all 0.6s
      border: #fff solid 2px
      box-shadow: 0 0 5px #95a5a6
      &:hover
        transform: scale(1.4)
  h3
    font-size: 1.4em
    opacity: 0
    transform: translateY(-35px)
    transition: all 0.7s
    transition-delay: 0.15s
    text-align: center
  .detail
    opacity: 0
    transform: translateY(-40px)
    transition: all 1s
    transition-delay: 0.15s
    margin: .4em 2em