.catalog-container
  display: block
  overflow: hidden
  background-color: color-background
  position:absolute; top:0; bottom:0; right:0px; width:19px;
  @media m-pad
    display: none
  .toc-indicator
    float:left;
    font-size: 24px;
    font-weight: bold;

  .toc-main
    background-color: color-white
    border: 1px solid color-border
    margin-left: 15px
    padding: 10px
    padding-left: 10px
    width: 280px
    box-sizing: border-box
    .toc-title
      font-size: 1.2em
      position: relative
      padding-left: 5px
      color: #1d3e81

    .toc-nav
      padding: 0
      margin-top: 1em
    ol
      padding-left: 0px
    li
      list-style-type: none
      line-height: 1.5
      padding-left: 18px

#asideToggle {
  display: none;
  &:checked {
    & ~ aside { width: 20%;}
    & ~ article { width: 100%; }
  }
}

#asideToggleLabel{
  cursor: pointer;
  color: color-primary;
}