.app-footer
  padding: .2rem 0;
  margin: 0 auto
  width:100%
  border-top: 1px solid color-border
  background-color: color-white
  text-align: center
  font-size: 1rem

.copyright
  color: color-gray
  line-height: 1