.app-footer
  padding: 0rem .2rem;
  margin: 0 auto
  border-top: 1px solid color-border
  background-color: color-white
  text-align: center
  font-size: 1.1rem

.copyright
  color: color-gray
  line-height: 1