.markdown-content, .article-summary
  overflow-y: auto
  overflow-x: hidden
  pre, code
    font-family: 'Roboto Mono', Monaco, courier, monospace
    .line
      min-height: 13px
      margin: 2px 0
  p
    line-height: 2em
    font-size: 1.1rem
    code
      color: color-orange
      padding: 3px 5px
      white-space: nowrap
  ul
    li
      line-height: 2em
      font-size: 1.1rem

  h1,h2
    @media m-mobile
      text-align: center
      //padding:0px 5px 8px 5px
      //border-bottom:1px dashed #000
  h1,h2
    font-size: 1.8em
    padding-bottom: 7px;
    border-bottom: 1px solid color-border
    line-height: 2em;

  h3
    margin: 1em 0
    font-size: 1.3em
    padding-bottom: .3em

  h4
    margin: 1em 0
    font-size: 1.2em
    &:before
      content: "#";
      color: color-primary
      margin-right: 5px
      font-size: 1.2em
      font-weight: 700
  h5
    font-size: 1em
    margin: .8em 0
  blockquote
    margin: 1em 0
    padding: 5px 15px
    border-left: 5px solid color-primary
    border-bottom-right-radius: 5px
    border-top-right-radius: 5px
    background-color: color-border
  ul, ol
    overflow: auto
    margin: 15px 0
    li
      padding: 5px 0
  img
    max-width: 95%
    max-height: 95%
    display: block
    margin: 20px
    cursor: zoom-in
    border: 1px solid color-border

  figure
    background: color-border
    padding: 0 10px
    border-radius: 2px
    margin: 20px 0
    overflow: auto
    position: relative
    &:after
      content: attr(data-lang)
      position: absolute
      top: 0
      right: 0
      color: color-primary
      text-align: right
      font-size: 0.7em
      padding: 5px 10px 0
      line-height: 15px
      height: 15px
      font-weight: 500
  > table
    width: 100%
    border: 1px solid color-border
    border-collapse collapse;
    thead
      background-color: color-primary
      th
        padding: 12px
        color: color-white
        border-right: 1px solid color-th-sep-color

    tbody
      tr
        &:nth-child(even)
          background: color-tr-bg
        &:nth-child(odd)
          background: color-tr-bg-odd
        td
          padding: 10px
          border-right: 1px solid color-td-sep-color
  hr
    border: none
    border-bottom: 1px dashed color-border
    margin: 30px 0